.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: pink !important;
}

.nav-link {
  color:white !important;
}

.btn-secondary:hover {
    text-decoration: none;
    color: rgb(0, 0, 0) !important;
    background:pink !important
      }

