/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
/* @import '~bootstrap/dist/css/bootstrap.css'; */
/* @import '~bootstrap/dist/css/bootstrap.css'; */

@import "~bootstrap-v4-rtl/dist/css/bootstrap-rtl.css";
@import "~font-awesome/css/font-awesome.min.css";
/* @import url(http://fonts.googleleapis.com/earlyaccess/droidarabickufi.css); */
@font-face { font-family:  "JF-flat"; src: url("/assets/font/JF-Flat-Regular.ttf");}
@font-face { font-family:  "Droid-Arabic-Kufi-1"; src: url("/assets/font/Droid-Arabic-Kufi-1.ttf");}
@font-face { font-family:  "Droid-Arabic-Kufi"; src: url("/assets/font/Droid-Arabic-Kufi.tff");}
@font-face { font-family:  "Droid-Sans-Arabic"; src: url("/assets/font/Droid-Sans-Arabic.ttf");}
@font-face { font-family:  "ToyorAljanah-Regular"; src: url("/assets/font/ToyorAljanah-Regular.otf");}
@font-face { font-family:  "18410-ah-naskh-hadith"; src: url("/assets/font/18410-ah-naskh-hadith.ttf");}





