.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: pink !important;
}

.nav-link {
  color:white !important;
}
.buttom-custom {
  /* color: #FFFFFF; */
  background-color: #3949ab;
}
.btn-secondary:hover {
    text-decoration: none;
    color: black !important;
    background:pink !important
      }

