.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: pink !important;
}

.nav-link {
  color:white !important;
}
.buttom-custom {
   /* color: #534e51;  */
  background-color: #534e51  ;
}
.btn-primary:hover {
    text-decoration: none;
    color: black !important;
    background:pink !important
      }

